{% extends 'ThemesBundle:Adminlte/Template:1_template.html.twig' %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#{% stylesheets#}
    {#filter='cssrewrite'#}
    {#'@GridBundle/Resources/public/common/css/switch.css'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <style>

    </style>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#{% javascripts#}
    {#'@GridBundle/Resources/public/common/js/formEdit.js'#}
    {#'@GridBundle/Resources/public/common/js/formView.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script type="text/javascript">

        $(document).ready(function() {
            $("span.info-sales").html($("td.total-sum").text());
            $("span.info-expenses").html($("td.expenses-sum").text());
            $("span.info-income").html($("td.income-sum").text());
        });

        $("button[name='income-and-expenses']").click(function(event) {
            event.preventDefault();

            var fields = $("form[name='income-and-expenses']").serializeArray();

            $.ajax({
                url: '{{ path('backend_report_income_and_expenses') }}',
                type: 'POST',
                dataType: 'json',
                data: fields,
                cache: true,
                beforeSend: function(jqXHR, settings) {
                    $("form[name='income-and-expenses']").find('i.fa-refresh').show();
                },
                success: function(data, textStatus, jqXHR) {

                    console.dir(data);

                    if (data.status) {

                        console.log("GATAZO");

                        $("form[name='{{ form.vars.full_name }}']").submit();
                    } else {
                        $("span.income-and-expenses-message").html(data.message);
                    }
                },
                error: function(jqXHR, exception) {
                    $(form[name='income-and-expenses']).find('i.fa-refresh').hide();
                    $("span.income-and-expenses-message").html("No se guardo.");
                }
            });
        });

    </script>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-{{ vars.icon }}"></i> {{ vars.title|raw }}
            <small>report</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('backend_dashboard_index') }}">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <li class="active">Reporte Pdv</li>

            <li>
                <button
                    class="btn btn-info btn-xs modal-info"
                    alt="Info"
                    title="Info"
                    data-toggle="modal"
                    data-target="#modal-info">
                    <i class="fa fa-fw fa-info-circle"></i> info
                </button>
            </li>
        </ol>
    </section>

    <section class="content">

        {#FILTERS#}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-filter"></i> Filtros
                        </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">

                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-map-marker"></i>
                                        {{ form_label(form.pointOfSale) }}
                                        {{ form_widget(form.pointOfSale) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-calendar"></i>
                                        {{ form_label(form.openingDate) }}
                                        {{ form_widget(form.openingDate) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="color: white">xx</label>
                                        <br/>
                                        {#<button type="submit" id="pointofsale_opening2_submit" name="pointofsale_opening2[submit]" class="btn btn-primary">#}
                                            {#Refrescar#}
                                        {#</button>#}
                                        {{ form_widget(form.submit) }}
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
        {#FILTERS#}





        {#SUMMARY#}
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-fw fa-cube"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Productos</span>
                        <span class="info-box-number">{{ reportPdvs|length }}<small></small></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow">
                        <i class="ion ion-ios-cart-outline"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Ventas</span>
                        <span class="info-box-number info-sales">0</span>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green">
                        <i class="fa fa-fw fa-plus-circle"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Ingreso contables</span>
                        <span class="info-box-number info-income">0</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red">
                        <i class="ion ion-minus-circled"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Egresos contables</span>
                        <span class="info-box-number info-expenses">0</span>
                    </div>
                </div>
            </div>

        </div>
        {#SUMMARY#}




        {#TABLE#}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-money"></i> Ingreso de ventas
                        </h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive">

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3" class="padding-0"></th>
                                    <th class="text-center padding-0 bg-gray" colspan="3">Stock</th>
                                    <th class="padding-0"></th>
                                    <th class="text-center padding-0 bg-gray" colspan="2">Mercancia</th>
                                    <th class="padding-0"></th>
                                </tr>
                            </thead>
                            <thead class="bg-gray-1">
                                <tr>
                                    <th class="text-center" style="width: 10px">#</th>
                                    <th>Categor&iacute;a</th>
                                    <th>Producto</th>
                                    <th class="text-center bg-gray">Inicial</th>
                                    <th class="text-center bg-gray">Pedido</th>
                                    <th class="text-center bg-gray">Total</th>
                                    <th class="text-center">Precio unit.</th>
                                    <th class="text-center bg-gray">Vendido</th>
                                    <th class="text-center bg-gray">Final</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% set stockInitialSum = 0 %}
                                {% set stockOrdersSum = 0 %}
                                {% set stockTotalSum = 0 %}
                                {% set stockSalesSum = 0 %}
                                {% set stockSalesFinalSum = 0 %}
                                {% set totalSum = 0 %}

                                {% set value = null %}
                                {% set tagNew = null %}
                                {% set tagOld = null %}

                                {% for reportPdv in reportPdvs %}

                                    {% set tagNew = reportPdv.pdvHash %}

                                    {% if tagNew != tagOld %}
                                        {% set tagOld = reportPdv.pdvHash %}
                                        <tr>
                                            <td class="text-left bg-light-blue padding-2" colspan="10">
                                                <i class="fa fa-fw fa-flask"></i> {{ tagOld }} &nbsp;
                                                <small class="label bg-light-blue-active">
                                                    {{ reportPdv.createdAt|date('Y-m-d H:i') }}
                                                </small>
                                            </td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td>
                                            <small class="label pull-right bg-gray">
                                                {{ loop.index }}
                                            </small>
                                        </td>
                                        <td>
                                            {#
                                            <span class="badge bg-light-blue-active">
                                                {{ reportPdv.product.category.id }}
                                            </span>
                                            #}
                                            {{ tianos_reverse_recursive_category(reportPdv.product.category) }}
                                        </td>
                                        <td>
                                            {#
                                            <span class="badge bg-light-blue-active">
                                                {{ reportPdv.product.id }}
                                            </span>
                                            #}
                                            {{ reportPdv.product.name }}
                                        </td>
                                        <td class="text-center bg-gray-1">
                                            {{ reportPdv.stockInitial }}
                                        </td>
                                        <td class="text-center bg-gray-1">
                                            {{ reportPdv.stockOrders }}
                                        </td>
                                        <td class="text-center bg-gray-1">
                                            {{ reportPdv.stockInitial + reportPdv.stockOrders }}
                                        </td>
                                        <td class="text-center">
                                            {{ reportPdv.product.price }}
                                        </td>
                                        <td class="text-center bg-gray-1">
                                            {{ reportPdv.stockSales }}
                                        </td>
                                        <td class="text-center bg-gray-1">
                                            {{ (reportPdv.stockInitial + reportPdv.stockOrders) - reportPdv.stockSales }}
                                        </td>
                                        <td class="text-center">
                                            {{ reportPdv.product.price * reportPdv.stockSales }}
                                        </td>
                                    </tr>

                                    {% set stockInitialSum = stockInitialSum + reportPdv.stockInitial %}
                                    {% set stockOrdersSum = stockOrdersSum + reportPdv.stockOrders %}
                                    {% set stockTotalSum = stockTotalSum + reportPdv.stockInitial + reportPdv.stockOrders %}
                                    {% set stockSalesSum = stockSalesSum + reportPdv.stockSales %}
                                    {% set stockSalesFinalSum = stockSalesFinalSum + (reportPdv.stockInitial + reportPdv.stockOrders) - reportPdv.stockSales %}
                                    {% set totalSum = totalSum + (reportPdv.product.price * reportPdv.stockSales) %}
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="10">
                                            <i class="fa fa-fw fa-info-circle"></i> No hay productos que mostrar.
                                        <tr>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="bg-gray-1">
                                <tr>
                                    <th colspan="3" class="text-right">
                                        <i class="fa fa-fw fa-plus-circle"></i> sumatoria
                                    </th>
                                    <th class="text-center bg-gray">
                                        {{ stockInitialSum }}
                                    </th>
                                    <th class="text-center bg-gray">
                                        {{ stockOrdersSum }}
                                    </th>
                                    <th class="text-center bg-gray">
                                        {{ stockTotalSum }}
                                    </th>
                                    <th class="text-center"></th>
                                    <th class="text-center bg-gray">
                                        {{ stockSalesSum }}
                                    </th>
                                    <th class="text-center bg-gray">
                                        {{ stockSalesFinalSum }}
                                    </th>
                                    <th class="text-center">
                                        {{ totalSum }}
                                    </th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        {#TABLE#}

        <a name="income-and-expenses"></a>

        {#INCOME AND EXPENSES#}
        <div class="row">
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-stack-exchange"></i> Ingresos<i class="fa fa-fw fa-arrows-h"></i>egresos contables
                        </h3>
                    </div>
                    <div class="box-body">

                        <form action="" method="post" name="income-and-expenses">

                        <table class="table table-bordered">
                            <thead class="bg-gray-1">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Descripci&oacute;n</th>
                                    <th style="width: 40%">Monto</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% set incomeSum = 0 %}
                                {% set expensesSum = 0 %}

                                {% for ie in incomeAndExpenses %}
                                    <tr>
                                        <td>
                                            <small class="label bg-gray">
                                                {{ loop.index }}
                                            </small>
                                        </td>
                                        <td>
                                            {{ ie.name }}
                                        </td>
                                        <td>
                                            <div class="input-group">

                                                {% if ie.contents == constant('Bundle\\ReportBundle\\Entity\\IncomeAndExpenses::CONTENTS_IN') %}
                                                    <span class="input-group-addon bg-green">
                                                        <i class="fa fa-fw fa-plus"></i>
                                                    </span>
                                                    {% set incomeSum = incomeSum + ie.amount %}
                                                {% elseif ie.contents == constant('Bundle\\ReportBundle\\Entity\\IncomeAndExpenses::CONTENTS_OUT') %}
                                                    <span class="input-group-addon bg-red">
                                                        <i class="fa fa-fw fa-minus"></i>
                                                    </span>
                                                    {% set expensesSum = expensesSum + ie.amount %}
                                                {% endif %}

                                                <input
                                                    type="text"
                                                    autocomplete="off"
                                                    placeholder="##.##"
                                                    onkeyup="this.value = this.value.replace(/[^0-9\.]/g,'');"
                                                    name="incomeAndExpenses[{{ ie.id }}]"
                                                    value="{{ ie.amount }}"
                                                    class="form-control text-right">
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">
                                            <i class="fa fa-fw fa-info-circle"></i> No datos.
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                {% if incomeAndExpenses|length %}
                                    <tr>
                                        <td colspan="3">
                                            <div class="row">
                                                <div class="col-md-9 text-right">
                                                    <span class="income-and-expenses-message"></span>
                                                    <i class="fa fa-spin fa-fw fa-refresh hide"></i>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-default pull-right" name="income-and-expenses">
                                                        Actualizar contables
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tfoot>
                        </table>

                        </form>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-bar-chart"></i> Sumario
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead class="bg-gray-1">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th style="width: 10px"></th>
                                    <th>Descripci&oacute;n</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <small class="label bg-gray">1</small>
                                    </td>
                                    <td>
                                        <i class="fa fa-fw fa-plus-square green-1"></i>
                                    </td>
                                    <td>
                                        Total Ingreso de ventas
                                    </td>
                                    <td class="total-sum">
                                        {{ totalSum }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small class="label bg-gray">2</small>
                                    </td>
                                    <td>
                                        <i class="fa fa-fw fa-plus-square green-1"></i>
                                    </td>
                                    <td>
                                        Ingresos contables
                                    </td>
                                    <td class="income-sum">
                                        {{ incomeSum }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small class="label bg-gray">3</small>
                                    </td>
                                    <td>
                                        <i class="fa fa-fw fa-minus-square red-1"></i>
                                    </td>
                                    <td>
                                        Egresos contables
                                    </td>
                                    <td class="expenses-sum">
                                        {{ expensesSum }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small class="label bg-gray">4</small>
                                    </td>
                                    <td>
                                        <i class="fa fa-fw fa-money"></i>
                                    </td>
                                    <td>
                                        Total
                                    </td>
                                    <td>
                                        {{ totalSum + incomeSum - expensesSum }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {#INCOME AND EXPENSES#}

    </section>

    {{ include('ReportBundle:Modal:info.html.twig') }}

{% endblock %}

