{% extends 'GridBundle::Template/crud_modal_content.html.twig' %}

{% block crud_modal_content %}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(form._token) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-user-secret"></i>
                {{ form_label(form.profile) }}
                {{ form_widget(form.profile) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">

                <i class="fa fa-fw fa-check-square-o"></i>
                {{ form_label(form.isActive) }}

                <div class="clearfix"></div>

                <label class="switch">
                    {{ form_widget(form.isActive) }}
                    <span class="slider round bg-{{ action }}-slider"></span>
                </label>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-align-left"></i>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-align-left"></i>
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-envelope-o"></i>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-phone"></i>
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-gg"></i>
                {{ form_label(form.dni) }}
                {{ form_widget(form.dni) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-gg-circle"></i>
                {{ form_label(form.ruc) }}
                {{ form_widget(form.ruc) }}
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom nav-tabs-custom-{{ action }}">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-{{ action }}-1" data-toggle="tab" aria-expanded="true">
                            Contacto y direcciones
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab-{{ action }}-2" data-toggle="tab" aria-expanded="false">
                            Notas internas
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-{{ action }}-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-fw fa-align-justify"></i>
                                    {{ form_label(form.address) }}
                                    {{ form_widget(form.address) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-fw fa-unlink"></i>
                                    {{ form_label(form.webSite) }}
                                    {{ form_widget(form.webSite) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab-{{ action }}-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-fw fa-align-justify"></i>
                                    {{ form_label(form.aboutMe) }}
                                    {{ form_widget(form.aboutMe) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-fw fa-calendar"></i>
                                    {{ form_label(form.dob) }}
                                    {{ form_widget(form.dob) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_widget(form) }}

{% endblock %}