{% extends "ThemesBundle:Adminlte/Template:1_template.html.twig" %}

{% import "TreeBundle::Macro/tree_ticket.html.twig" as macro %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        filter='cssrewrite'
        '@TicketBundle/Resources/public/css/default.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
        '@TreeBundle/Resources/public/css/tree.css'
        '@CoreBundle/Resources/public/css/tree.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>

    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@TicketBundle/Resources/public/js/formClient.js'
        '@TicketBundle/Resources/public/js/formEmployee.js'
        '@TicketBundle/Resources/public/js/formProducts.js'
        '@TicketBundle/Resources/public/js/formTicket.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(document).ready(function() {

            $('body.{{ vars.body_css }}').formClient({
                modalId: 'modal-create-client',
                formName: 'form-create-client',
                clientId: '{{ form.client.vars.full_name }}',
                route: '{{ path('backend_ticket_add_client') }}'
            });

            $('body.{{ vars.body_css }}').formEmployee({
                modalId: 'modal-create-employee',
                formName: 'form-create-employee',
                route: '{{ path('backend_ticket_add_employee') }}'
            });

            $('body.{{ vars.body_css }}').formProducts({
                modalId: 'modal-create-services',
                routeIncrement: '{{ path('backend_ticket_increment_item') }}',
                routeDecrement: '{{ path('backend_ticket_decrement_item') }}',
                routeRemoveAll: '{{ path('backend_ticket_remove_all_item') }}'
            });

            $('body.{{ vars.body_css }}').formTicket({
                formName: '{{ form.vars.name }}',
                route: '{{ path('backend_ticket_create_internal') }}',
                routeRedirect: '{{ path('backend_ticket_index') }}'
            });

        });

    </script>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-ticket"></i> Crear pedido interno
            <small>service</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home
                </a>
            </li>
            <li class="active">
                Dashboard
            </li>
        </ol>
    </section>

    <section class="content">

        <div class="row">

            {#CLIENT#}
            <div class="col-md-4" style="padding-right: 0px">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <i class="fa fa-fw fa-user"></i> Cliente
                        </h4>
                        <div class="box-tools pull-right">
                            <span
                                    class="badge bg-green x-hand add-client"
                                    data-toggle="modal"
                                    data-target="#modal-create-client">
                                <i class="fa fa-plus"></i> Buscar
                            </span>
                        </div>
                    </div>
                    <div class="box-body table-responsive"> {#no-padding#}

                        <table class="table table-condensed table-striped box-table-client">
                            <thead>
                                <tr>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-center">Miembro desde</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        Seleccione un cliente.
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            {#CLIENT#}

            {#PDV#}
            <div class="col-md-4" style="padding-right: 0px">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <i class="fa fa-fw fa-map-marker"></i> Punto de venta
                        </h4>
                        <div class="box-tools pull-right"></div>
                    </div>
                    <div class="box-body table-responsive"> {#no-padding#}

                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-center">Creado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="badge bg-light-blue-active">
                                            {{ app.user.pointOfSaleActive.id|default('') }}
                                        </span>
                                    </td>
                                    <td style="width: 30px">
                                        <img
                                            src="{{ asset('bundles/themes/adminlte/images/icon-1-128x128.png') }}"
                                            style="max-height: 30px"
                                            class="img-circle">
                                    </td>
                                    <td>
                                        {{ app.user.pointOfSaleActive.name|default('[ - no PDV - ]') }}
                                    </td>
                                    <td class="text-center">
                                        {{ app.user.pointOfSaleActive != null ? app.user.pointOfSaleActive.createdAt|date('d, F Y') : "" }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            {#PDV#}

            {#EMPLOYEE#}
            <div class="col-md-4">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <i class="fa fa-fw fa-user"></i> Empleado logeado
                        </h4>
                        <div class="box-tools pull-right"></div>
                    </div>
                    <div class="box-body table-responsive"> {#no-padding#}

                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-center">Miembro desde</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="badge bg-yellow-active">
                                            {{ app.user.id }}
                                        </span>
                                    </td>
                                    <td style="width: 30px">
                                        <img
                                            src="{{ asset('bundles/themes/adminlte/images/icon-2-128x128.png') }}"
                                            style="max-height: 30px"
                                            class="img-circle">
                                    </td>
                                    <td>
                                        {{ tianos_app_user_name(app.user, 0, 15) }}
                                    </td>
                                    <td class="text-center">
                                        {{ app.user.createdAt|date('d, F Y')}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            {#EMPLOYEE#}

            <div class="col-md-7" style="padding-right: 0px">

                <div class="box box-success">

                    <div class="row">
                        <div class="col-md-5" style="padding-right: 0px">
                            <div class="box-header with-border">
                                <h4 class="box-title">
                                    <i class="fa fa-fw fa-sitemap"></i> Categorías
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="box-header with-border">
                                <h4 class="box-title">
                                    <i class="fa fa-fw fa-file-text-o"></i> Productos
                                </h4>

                                <div class="box-tools pull-right" data-toggle="tooltip" data-original-title="Agregar nuevos productos">
                                    <a href="{{ path('backend_product_index') }}">
                                        <span class="badge bg-green x-hand">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body"> {#no-padding#}

                        {#SERVICIOS#}
                        <div class="row">
                            <div class="col-md-5" style="padding-right: 0px">
                                <div class="{{ tree.main_div }} box-body">
                                    <ul id="{{ tree.main_ul }}">
                                        {% if objectsTree is not empty %}
                                            {{ macro.tree(
                                                objectsTree,
                                                tree,
                                                -1,
                                                'TreeBundle::Template/li_ticket.html.twig',
                                                'backend_product_index'
                                            ) }}
                                        {% else %}
                                            <p>No hay items que mostrar</p>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7">

                                <table class="table table-bordered service table-services table-scroll">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">nombre</th>
                                        <th class="text-center">
                                            <i class="fa fa-fw fa-money"></i> precio
                                        </th>
                                        <th class="text-center">acci&oacute;n</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-service">
                                        <td colspan="3">
                                            Seleccione una categor&iacute;a.
                                        </td>
                                    </tr>
                                    {% for product in productsObjs %}
                                        <tr class="tr-service tr-service-{{ product.category.id }}" style="display: none">
                                            <td class="text-center">
                                                {{ product.id }}
                                            </td>
                                            <td class="text-center">
                                                {{ product.name }}
                                            </td>
                                            <td class="text-center">
                                                {{ product.price }}
                                            </td>
                                            <td>
                                                <button
                                                    type="button"
                                                    class="btn btn-success btn-xs increment-services"
                                                    data-id-item="{{ product.id }}">
                                                    <i class="fa fa-fw fa-plus-circle"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {#SERVICIOS#}

                    </div>
                </div>

            </div>

            <div class="col-md-5">

                {# COMPROBANTE #}
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <i class="fa fa-fw fa-file-o"></i> Comprobante
                        </h4>
                        <div class="box-tools pull-right">
                            <span
                                class="badge bg-red x-hand remove-all-services"
                                data-toggle="tooltip"
                                data-original-title="Eliminar todos los servicios">
                                <i class="fa fa-minus-circle"></i> Eliminar
                            </span>
                        </div>
                    </div>

                    {{ form_start(form) }}
                        <div class="box-body box-table-items">

                            {{ form_widget(form._token) }}

                            <div style="display: none">

                            </div>

                            {{ form_widget(form.client) }}

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-money"></i>
                                        {{ form_label(form.paymentType) }}
                                        {{ form_widget(form.paymentType) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-qrcode"></i>
                                        {{ form_label(form.code) }}
                                        {{ form_widget(form.code) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-align-left"></i>
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>
                            </div>

                            <div class="items">
                                {{ include('TicketBundle:BackendTicket/Grid/Box:table_product.html.twig') }}
                            </div>

                        </div>

                        <div class="box-footer text-center">
                            <button type="submit" class="btn btn-primary">
                                Generar pedido
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
                {# COMPROBANTE #}

            </div>

        </div>

    </section>

    {{ include('TicketBundle:BackendTicket/Modal/Client:create.html.twig') }}
    {{ include('TicketBundle:BackendTicket/Modal/Employee:create.html.twig') }}

{% endblock %}