<table class="series table table-bordered">
    <tr class="text-center">
        <td>
            <i class="fa fa-fw fa-info-circle"></i> Seleccionar talla.
        </td>
    </tr>
</table>

<table class="series table table-bordered 18-21" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">18</th>
        <th class="text-center">19</th>
        <th class="text-center">20</th>
        <th class="text-center">21</th>
    </tr>
    <tr class="text-center">
        <td>2</td>
        <td>4</td>
        <td>4</td>
        <td>2</td>
    </tr>
</table>

<table class="series table table-bordered 22-26" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">22</th>
        <th class="text-center">23</th>
        <th class="text-center">24</th>
        <th class="text-center">25</th>
        <th class="text-center">26</th>
    </tr>
    <tr class="text-center">
        <td>2</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
    </tr>
</table>

<table class="series table table-bordered 27-32" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">27</th>
        <th class="text-center">28</th>
        <th class="text-center">29</th>
        <th class="text-center">30</th>
        <th class="text-center">31</th>
        <th class="text-center">32</th>
    </tr>
    <tr class="text-center">
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
    </tr>
</table>

<table class="series table table-bordered 33-36" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">33</th>
        <th class="text-center">34</th>
        <th class="text-center">35</th>
        <th class="text-center">36</th>
    </tr>
    <tr class="text-center">
        <td>2</td>
        <td>4</td>
        <td>4</td>
        <td>2</td>
    </tr>
</table>

<table class="series table table-bordered 33-37" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">33</th>
        <th class="text-center">34</th>
        <th class="text-center">35</th>
        <th class="text-center">36</th>
        <th class="text-center">37</th>
    </tr>
    <tr class="text-center">
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>4</td>
        <td>2</td>
    </tr>
</table>

<table class="series table table-bordered 33-39" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">33</th>
        <th class="text-center">34</th>
        <th class="text-center">35</th>
        <th class="text-center">36</th>
        <th class="text-center">37</th>
        <th class="text-center">38</th>
        <th class="text-center">39</th>
    </tr>
    <tr class="text-center">
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
    </tr>
</table>