{% extends 'ThemesBundle:Adminlte/Template:1_template.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #container {
            width: 100%;
            height: 1000px;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
        #map {
            z-index: 5;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        #info {
            z-index: 10;
            width: 40%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
        }

        .invoice {
            margin: 0px !important;
            height: 100%;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        function initMap() {

            var myLatLng = {lat: -12.0859333, lng: -76.9767342};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: 'https://chart.googleapis.com/chart?chst=d_map_spin&chld=2.2|30|FFC6A5|11|b|Jockey|Plaza',
                title: 'Jockey Plaza'
            });

            {% for key, pdv in entity %}

                {% if pdv.latitude is not null %}

                    var contentString{{ key }} = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">{{ pdv.name }}</h1>'+
                        '<div id="bodyContent">'+
                        '<p>{{ pdv.address }}</p>'+
                        '<p><button class="btn btn-default pull-right btn-pdv" data-id="{{ pdv.id }}">info</button></p>'+
                        '</div>'+
                        '</div>';

                    var infowindow{{ key }} = new google.maps.InfoWindow({
                        content: contentString{{ key }}
                    });

                    {#var myLatLng{{ key }} = {lat: {{ pdv.latitude }}, lng: {{ pdv.longitude }}};#}

                    var marker{{ key }} = new google.maps.Marker({
                        {#position: myLatLng{{ key }},#}
                        position: { lat: {{ pdv.latitude }}, lng: {{ pdv.longitude }} },
                        map: map,
                        {#title: '{{ pdv.name }}',#}
                        icon: 'https://chart.googleapis.com/chart?chst=d_map_pin_letter_withshadow&chld=A|FF0000|000000'
                        {#icon: '{{ asset('bundles/themes/adminlte/images/rangerstation.png') }}'#}
                        {#url: '{{ path('app_map_detail', {pdvId:pdv.id_increment}) }}'#}
                    });

                    marker{{ key }}.addListener('click', function() {
                        infowindow{{ key }}.open(map, marker{{ key }});
                    });

                    {#google.maps.event.addListener(marker{{ key }}, 'click', function() {#}
                    {#window.location.href = this.url;#}
                    {#});#}
                {% endif %}

            {% endfor %}
        }

        $(document).on('click', '.btn-close', function() {
            $("#info").animate({ width: 'hide' });
        });

        $(document).on('click', '.btn-pdv', function() {

            var info = $("#info");

            $.ajax({
                url: '{{ path('backend_pointofsale_map_info') }}',
                type: 'POST',
                dataType: 'html',
                data: {
                    id: $(this).data('id')
                },
                beforeSend: function(jqXHR, settings) {
                    info.animate({ width: 'show' });
                    info.html('<div style="position: absolute; top: 40%; left: 47%;"><i class="fa fa-3x fa-refresh fa-spin"></i></div>');
                },
                success: function(data, textStatus, jqXHR) {
                    info.html(data);
                },
                error: function(jqXHR, exception) {
                    info.html('<div style="position: absolute; top: 40%; left: 47%;"><i class="fa fa-2x fa-warning"></i> Volver a internar.</div>');
                }
            });

            /*
            if(info.is(':visible')) {
                info.animate({ width: 'hide' });
            } else {
                info.animate({ width: 'show' });
            }
            */

        });

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ application_google_api_key }}&callback=initMap"></script>

{% endblock %}

{% block content %}

    <div id="container">
        <div id="map"></div>
        <div id="info" style="display: none"></div>
    </div>

{% endblock %}

